.resume-breads{
    margin: 1em 1em 1em 0;
}
.resume-left{
    flex: 270px;
}
.resume-timeline{
    margin-top: 50px;
    width: 270px;
    position: sticky;
    top: 120px;
}
.resume-right{
    flex: auto;
}
.resume-row{
    flex-flow: nowrap;
}
.resume-right h1:before{
    content: " ";
    margin-top: -80px;
    height: 80px;
    display: block;
}