.header-logo{
    height: 68px;
    width: 200px;
    margin-right: 5em;
}

.header-menu{
    flex: 1;
    min-width: 200px;
    background-color: transparent;
}

.ant-menu-horizontal{
    border-bottom: none;
}

.ant-menu-title-content{
    font-size: 1.3em;
}

@media (max-width: 800px) {
    .header-logo{
        height: 62px;
        width: 180px;
        margin-right: 1em;
    }
}